<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brins.loginlib">

    <application>
        <activity
            android:name=".activity.LoginPhoneActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activity.LoginEmailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LoginSelectActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>