<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brins.musicdetail">

    <application>
        <activity android:name=".activity.PlayListActivity"
            android:theme="@style/SongDetailTheme"></activity>
        <activity android:name=".activity.CommentsActivity" />
        <activity android:name=".activity.MusicDetailActivity" />
    </application>

</manifest>